$font-stack:   Roboto Condensed;
$primary-color: #000000;
$secondary-color: #f99521;
$tertiary-color: #d76422;
$quaternary-color: #fefefe;
$opacity-color: rgba(255, 255, 255, 0.5);
$default-padding: 1% 0px;
$default-margin: 5% 10%;


/*GLOBAL TYPOGRAPHY*/

body {
   font: 100% $font-stack;
   color: $primary-color;

}

h1 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 2em;

}

h2 {
  font: 100% $font-stack;
  color: $secondary-color;
  font-size: 1.5em;
  text-align: center;

}

h3 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 1.25em;
  text-align: center;

}

h4 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 1.25em;
  font-weight: 600;

}

h5 {
  font: 100% $font-stack;
  color: $secondary-color;
  font-size: 1.5em;

}

p {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: .75em;

}

a {
    font: 100% $font-stack;
    color: $tertiary-color;

}

img {
  max-width: 100%;
}

/* LOGO */

.hero {
  background: url('../img/heroImage.png') center center no-repeat;
 // background-image: 
  // linear-gradient(
  //   rgba(0, 0, 0, 1),
  //   rgba(105, 105, 105, 0.7)
  //   ), url('../img/heroImage.png');
  height: 90vh;
  width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -4%; 
}

.logo {
	
	img {
    display: inline-block;
		max-width: 50%;
		margin-top: 12%;
    margin-left: -3%;
    text-align: center;
	}
}

/* NAVIGATION */

nav {
  ul {
    padding: 20px 10px;
    list-style: none;
    float: left;
    margin: 65px 0 0 30px;

  }

  li { 
    display: inline-block; 
    margin: 0 10px;
    background-color: $secondary-color;
    font-family: $font-stack;
    height: 40px;
    width: 150px;
    border-radius: 5px;
  }

  a {
    display: block;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
}

/* HOME BANNER */
.banner {
  /* HTML NOTE - ADD class="banner" to div*/
  text-align: center;
  margin: 2% 4% 15% 4%;
  padding: 0 4% 0 4%;
  font-family: $font-stack;

 p {
  font-size: 1.3em;
  color: white;
 }

a {
  text-decoration: none;
}

span {
  color: white;
  font-size: 1.3em;
}
}
.search-button {
  padding: 0 0 0 0;
  margin: 0 0 -10px 0;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  margin-left: 15px;
}

.type select {
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   color: #778899;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   }

   .type {
   width: 240px;
   height: 34px;
   overflow: auto;
   background: url(../img/down-arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

optgroup {
  color: #000;
}


.h1transparency {
  /* HTML NOTE - ADD class="h1transparency" to h1*/
    padding: 2%;
   /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with opacity */
    background-color: $opacity-color;

}





/* Subscribe Section */

.mailchimp_form {
  width:100%;
  text-align: center;
}


/* gallery */

#gallery {
  margin: 2% 0 2% -3.01%;

  li { 
    display: inline-block;
    float: center;
    margin: 0 -2px;
    width: 33.44%;
    text-align: center;
    }
}

.stars {
  padding: 0 0 0 0;
  margin: 0 0 10px 10px;
}

.box {
  cursor: pointer;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  
  img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out; 
    }
  }

.box .overbox {
  background-color: rgba(105, 105, 105, 0.9);
  position: absolute;
  top: 130px;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 120px;
}

.box:hover .overbox {
  opacity: 0.8; }

.box .overtext .orange-line {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px); }

 .orange-line {
    background-color: $tertiary-color;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

.box .title {
  // 
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s; }

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px); }

.text {
  font-size: 0.75em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  line-height: 1.5em;
  padding: 7% 15%; }

.box:hover .text,
.box:focus .text {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px); }


/* Featured Newbie */

.feature {
    padding: $default-padding;
    margin: $default-margin; 

}

.user_description {  
    float:left;
    width:40%;
}

.user_image {
  height:250px;
  width: 250px;
  align: right;
  float:right;
  padding: 0 5%;
}

.wherefrom {
  width:100%;
  text-align: center;
  padding-left: 5%;
   }


/* GALLERY 2 */
.gallery2 {
    width: 100%;
    text-align: center;
}


/*Footer*/
/* HTML NOTE - ADD div id=Footer*/
#footer {
    padding:  1% 0px;
    margin: 5% 2%; 
    border-top: solid $secondary-color;
}

#footer ul {
    list-style: none;
    float: left;
    padding:0 0 0 40px;

  }

#footer li { 
    display: inline-block; 
    padding:9px;
    margin: 0 6px 0 0;

  }

  .social {
    padding:0 0 0 8%;
    margin: 0 0 0 0;
    float:left;
    width:33%;
  }
  .social ul {
  
  }

  .social li {
    margin: 0 30px 0 0;
  }

  .footer_h5 {
    padding:0;
    margin:0;
  }

  .footer_links {
    float: left;
    padding:0 0 0 0;
    margin: 10;
    width:59%;
  }

  .footer_links ul {
    -webkit-column-count: 3;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30%;
    -moz-column-gap: 30%;
    column-gap: 30%;
    width: 100%;
    float:right;
  }

  .footer_links li {
    display: inline-block;
    width: 70%;
  }

